@{
    ViewBag.Title = "Home Page";
}
@model Mvc_Wcf.ServiceReference1.ClienteBag[]
<table>
    <thead>
    </thead>
    <tbody>
        @foreach(var c in Model)
        {
            <tr class="client" data-client=@c.Id>
                <td>@c.Nome</td>
            </tr>
        }
    </tbody>
</table>
<button id="BtnNewClient" class="btn btn-default">Novo</button>
<button id="BtnDeleteClient" class="btn btn-danger">Excluir</button>
<button id="BtnSave" class="btn btn-success">Salvar</button>

